*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: rgb(0, 0, 0);
    height: 80px;
    width: 100%;
}
.list2{
    background-color: yellow;
}
nav .logo{
    color: white;
    font-size: 35px;
    line-height: 100px;
    padding: 0 30px;
    font-weight: bold;
    float: left;
}
.drop{
    background-color: aqua;
}
select{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
nav ul{
    float: left;
    list-style: none;   
}
.tabs button.active {
    border-bottom: 2px solid orangered;
  }
  .tablinks i{
      margin-right: 5px;
  }
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }
  .main p{
      font-size: 20px;
      color: blue;
      letter-spacing: 1px;
  }
  .main p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.repo{
    margin-bottom: 20px;
}
.repocontent{
    margin-top: 10px;
}
.repocontent label{
    margin-right: 30px;
}
  .active{
      display: block;
  }
  .search input[type=text]{
      width: 70%;
      padding: 7px 20px;
      border: 1px solid rgba(0, 0, 0, 0.336);
      border-radius: 5px;
  }
  .search select{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.336);
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
.btn{
    float:right;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    border:1px solid white;
    margin-top: 22px;
    margin-right: 20px;
    background-color: transparent;
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
a.active,a:hover{
    background-color: rgba(0, 0, 0, 0.521);
    transition: 0.5s;
}
@media (max-width:370px){
    .logo{
        margin-top: 25px;
        width:120px ;
        height:30px ;
    }
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:935px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        background-color:rgba(2, 2, 2, 0.856);
        height: 100vh;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgba(243, 243, 243, 0.822);
    }
    #check:checked ~ ul {
        left: 0;
    }
}
.JavaScript{
    color: rgb(199, 199, 33)
}
.TypeScript{
    color: blue;
}
.CSS{
    color: violet;
}
/* .list{
    border: 2px solid black;
} */
.container{
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-rows: auto 30% auto auto 1fr auto;
}
button label{
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 30%;
}
@media (min-width:1000px){
    .container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
        height: 100vh;
    }
    .container .navbar{
        grid-column: 1/span 12;
    }
    .container .sidebar{
        grid-column: 1/span 3;
        grid-row: 3/ span 7;
    }
    .container .tabs{
        grid-column: 4/span 9;
        grid-row: 2/ span 1;
    }
    .container .search{
        grid-column: 4/span 9;
        grid-row: 3/ span 1;
    }
    .container .main{
        grid-column: 4/span 9;
        grid-row: 4/ span 8;
    }
    .container .footer{
        grid-column: 1/span 12;
    }
}
@media (max-width:1200px){
    .sidebarcontent{
        display: flex;
        align-items: center;
    }
    .sidebarcontent p{
        margin-left: 20px;
    }
    .sidebarcontent .sidelogo {
        display: flex;
        align-items: center;
    }
    .sidebarcontent .btn1{
        width: 80%;
    }
    .search input[type=text]{
        width: 65%;
    }
}
@media (max-width:1040px){
    .search input[type=text]{
        width: 55%;
    }
}
.sidebarcontent{
    display: grid;
    grid-template-rows: 1fr auto;
}
.sidebarcontent .btn1{
    padding: 5px 100px;
}
.sidebarcontent .btn2{
    padding: 5px 30px;
}
.sidebarcontent img{
    height: 150px;
    width: 200px;
}
.sidebarcontent p{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}